.blog-section {
   padding-top: 30px;
   margin-bottom: 30px;
}
.blog-container {
    margin: 20px 10px;
    background-color: #2A2C39;
    color: #fff;
    font-family: 'Poppins', 'sans-serif';
}

.blog-container > img {
    width: 100%;
    height: 300px;
}

.blog-container > h4 {
    font-size: 16px;
    padding: 10px;
}

.blog-container > p {
    font-size: 14px;
    margin: 10px 0;
    padding: 0 10px;
}

.blog-container > a, .all-blog-button{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    padding: 0 30px 0 30px;
    border-radius: 43.5px;
    background-color:  #2E303D;
    border: 1px solid #fff;
    border-image: initial;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    margin: 10px;
    text-decoration: none;
}

.blog-container > button:hover {
    background-color: rgb(59, 61, 73);
}

@media (max-width: 960px) {
    .blog-container {
        margin: 20px 5px;
    }
}

.all-blogs-btn-container {
    text-align: center;
    font-family: "Poppins", sans-serif;
}