.contact-section {
    padding-top: 50px;
    margin-bottom: 30px;
}
form {
    width: 100%;
    padding: 10px;
    margin-top: 10px
}

.form-control {
    width: 98%;
    padding: 12px 20px;
    background-color: #2A2C39;
    border: 1px solid rgba(255,255,255,.1);
    color: #fff;
    outline: 0;
    box-shadow: none;
    transition: .4s ease-in-out;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.text-area {
    width: 99%;
}

.send-message-btn {
    height: 60px;
    display: inline-block;
    text-decoration: none;
    line-height: 60px;
    padding: 0 30px 0 30px;
    border-radius: 43.5px;
    background-color: #252734;
    border: 1px solid  rgb(59, 61, 73);
    border-image: initial;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 30px;
}

.send-message-btn:hover, .send-message-btn:focus {
    border: 1px solid #fff;
    background-color: #2E303D;
}

.form-control:hover, .form-control:focus {
    border: 1px solid #fff;
    color: #fff;
}

@media (max-width: 960px) {
    form {
        width: 100%;
        padding: 10px;
    }
    .text-area {
        width: 98%;
    }
}

.contact-grid {
    padding:10px;
}

.contact-info {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    background-color: #2A2C39;
    border-radius: 3px;
}

.contact-info > h3 {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', 'sans-serif';
}

.contact-info > p {
    color: #fff;
    font-family: 'Poppins', 'sans-serif';
    font-size: 15px;
}

.btn-block {
    display: block;
}

.validation-error {
    color: red;
    font-family: 'Poppins', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  border: 1px solid rgb(59, 61, 73);
  color: #fff;
}