.text-center {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', 'sans-serif';
    font-size: 28px;
    margin-bottom: 30px;
    position: relative;
}

.mt-3 {
    margin-top: 10px; 
}

.text-decoration-none {
    text-decoration: none;
}
